@import "vars";

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $darkColor;
}

.button {
  width: 246px;
  height: 50px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  background-color: $buttonColor;
  border: none;
  border-radius: $borderRadius;
  transition: transform .2s;

  &:hover {
    background-color: #68a803;
  }

  &:active {
    transform: scale(0.97);
  }
}

.start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkColor;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: 460px;
    padding: 0 70px;
    background-color: $lightColor;
    border-radius: $borderRadius;
    box-shadow: 0 0 7px #fff;
  }

  &__title {
    color: $darkColor;
    text-align: center;
    width: 208px;
    font-size: 40px;
    line-height: 48px;
  }

  &__difficulties {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
  }

  &__difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: $darkColor;
    width: 98px;
    height: 98px;
    border-radius: $borderRadius;
    transition: transform .2s;
    box-sizing: border-box;
    border: 1px solid #ececec;

    &_chosen {
      background-color: #ececec;
      border: 2px solid #fff;
    }

    &:hover {
      background-color: #ececec;
      border: 2px solid #fff;
      user-select: none;
    }

    &:active {
      transform: scale(0.96);
    }
  }
}

.container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1068px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
  max-width: 1024px;
  padding: 40px 22px 46px 22px;

  &__clock {
    display: flex;
    flex-direction: column;
  }

  &__min-sec {
    display: flex;
    justify-content: flex-end;
    gap: 76px;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
  }

  &__timer {
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
    color: #fff;
  }
}

.play-field {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 26px;

  &__card {
    width: 95px;
    height: 133px;
    background-size: cover;

    &_not-flipped {
      background: #C2F5FF url("./src/img/backSideCard.svg") no-repeat center;
    }

    &_flipped-1-6 {
      background: #C2F5FF url("./src/img/6 пики.svg") no-repeat center;
    }

    &_flipped-1-7 {
      background: #C2F5FF url("./src/img/7 пики.svg") no-repeat center;
    }

    &_flipped-1-8 {
      background: #C2F5FF url("./src/img/8 пики.svg") no-repeat center;
    }

    &_flipped-1-9 {
      background: #C2F5FF url("./src/img/9 пики.svg") no-repeat center;
    }

    &_flipped-1-10 {
      background: #C2F5FF url("./src/img/10 пики.svg") no-repeat center;
    }

    &_flipped-1-11 {
      background: #C2F5FF url("./src/img/валет пики.svg") no-repeat center;
    }

    &_flipped-1-12 {
      background: #C2F5FF url("./src/img/дама пики.svg") no-repeat center;
    }

    &_flipped-1-13 {
      background: #C2F5FF url("./src/img/король пики.svg") no-repeat center;
    }

    &_flipped-1-14 {
      background: #C2F5FF url("./src/img/туз пики.svg") no-repeat center;
    }

    &_flipped-2-6 {
      background: #C2F5FF url("./src/img/6 черви.svg") no-repeat center;
    }

    &_flipped-2-7 {
      background: #C2F5FF url("./src/img/7 черви.svg") no-repeat center;
    }

    &_flipped-2-8 {
      background: #C2F5FF url("./src/img/8 черви.svg") no-repeat center;
    }

    &_flipped-2-9 {
      background: #C2F5FF url("./src/img/9 черви.svg") no-repeat center;
    }

    &_flipped-2-10 {
      background: #C2F5FF url("./src/img/10 черви.svg") no-repeat center;
    }

    &_flipped-2-11 {
      background: #C2F5FF url("./src/img/валет черви.svg") no-repeat center;
    }

    &_flipped-2-12 {
      background: #C2F5FF url("./src/img/дама черви.svg") no-repeat center;
    }

    &_flipped-2-13 {
      background: #C2F5FF url("./src/img/король черви.svg") no-repeat center;
    }

    &_flipped-2-14 {
      background: #C2F5FF url("./src/img/туз черви.svg") no-repeat center;
    }

    &_flipped-3-6 {
      background: #C2F5FF url("./src/img/6 бубны.svg") no-repeat center;
    }

    &_flipped-3-7 {
      background: #C2F5FF url("./src/img/7 бубны.svg") no-repeat center;
    }

    &_flipped-3-8 {
      background: #C2F5FF url("./src/img/8 бубны.svg") no-repeat center;
    }

    &_flipped-3-9 {
      background: #C2F5FF url("./src/img/9 бубны.svg") no-repeat center;
    }

    &_flipped-3-10 {
      background: #C2F5FF url("./src/img/10 бубны.svg") no-repeat center;
    }

    &_flipped-3-11 {
      background: #C2F5FF url("./src/img/валет бубны.svg") no-repeat center;
    }

    &_flipped-3-12 {
      background: #C2F5FF url("./src/img/дама бубны.svg") no-repeat center;
    }

    &_flipped-3-13 {
      background: #C2F5FF url("./src/img/король бубны.svg") no-repeat center;
    }

    &_flipped-3-14 {
      background: #C2F5FF url("./src/img/туз бубны.svg") no-repeat center;
    }

    &_flipped-4-6 {
      background: #C2F5FF url("./src/img/6 крести.svg") no-repeat center;
    }

    &_flipped-4-7 {
      background: #C2F5FF url("./src/img/7 крести.svg") no-repeat center;
    }

    &_flipped-4-8 {
      background: #C2F5FF url("./src/img/8 крести.svg") no-repeat center;
    }

    &_flipped-4-9 {
      background: #C2F5FF url("./src/img/9 крести.svg") no-repeat center;
    }

    &_flipped-4-10 {
      background: #C2F5FF url("./src/img/10 крести.svg") no-repeat center;
    }

    &_flipped-4-11 {
      background: #C2F5FF url("./src/img/валет крести.svg") no-repeat center;
    }

    &_flipped-4-12 {
      background: #C2F5FF url("./src/img/дама крести.svg") no-repeat center;
    }

    &_flipped-4-13 {
      background: #C2F5FF url("./src/img/король крести.svg") no-repeat center;
    }

    &_flipped-4-14 {
      background: #C2F5FF url("./src/img/туз крести.svg") no-repeat center;
    }
  }
}

