@import 'vars';

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $darkColor;
}

.button {
  width: 246px;
  height: 50px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  background-color: $buttonColor;
  border: none;
  border-radius: $borderRadius;
  transition: transform 0.2s;

  &:hover {
    background-color: #68a803;
  }

  &:active {
    transform: scale(0.97);
  }
}

.start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkColor;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: 460px;
    padding: 0 70px;
    background-color: $lightColor;
    border-radius: $borderRadius;
    box-shadow: 0 0 7px #fff;
  }

  &__title {
    color: $darkColor;
    text-align: center;
    width: 208px;
    font-size: 40px;
    line-height: 48px;
  }

  &__difficulties {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
  }

  &__difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: $darkColor;
    width: 98px;
    height: 98px;
    border-radius: $borderRadius;
    transition: transform 0.2s;
    box-sizing: border-box;
    border: 1px solid #ececec;

    &_chosen {
      background-color: #ececec;
      border: 2px solid #fff;
    }

    &:hover {
      background-color: #ececec;
      border: 2px solid #fff;
      user-select: none;
    }

    &:active {
      transform: scale(0.96);
    }
  }
}

.container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1068px;

  &_blur {
    opacity: 0.4;
    user-select: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
  max-width: 1024px;
  padding: 40px 22px 46px 22px;

  &__clock {
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  &__min-sec {
    display: flex;
    justify-content: flex-end;
    gap: 76px;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
  }

  &__timer {
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
    color: #fff;
    display: flex;
    justify-content: end;
  }
}

.play-field {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 26px;

  &__card {
    width: 95px;
    height: 142px;
    background-size: cover;
    border-radius: 14px;

    &_not-flipped {
      background: #c2f5ff url('../static/img/not-flipped.png') no-repeat center;
    }

    &_flipped-1-6 {
      background: #c2f5ff url('../static/img/6-spades.png') no-repeat center;
    }

    &_flipped-1-7 {
      background: #c2f5ff url('../static/img/7-spades.png') no-repeat center;
    }

    &_flipped-1-8 {
      background: #c2f5ff url('../static/img/8-spades.png') no-repeat center;
    }

    &_flipped-1-9 {
      background: #c2f5ff url('../static/img/9-spades.png') no-repeat center;
    }

    &_flipped-1-10 {
      background: #c2f5ff url('../static/img/10-spades.png') no-repeat center;
    }

    &_flipped-1-11 {
      background: #c2f5ff url('../static/img/jack-spades.png') no-repeat center;
    }

    &_flipped-1-12 {
      background: #c2f5ff url('../static/img/queen-spades.png') no-repeat center;
    }

    &_flipped-1-13 {
      background: #c2f5ff url('../static/img/king-spades.png') no-repeat center;
    }

    &_flipped-1-14 {
      background: #c2f5ff url('../static/img/ace-spades.png') no-repeat center;
    }

    &_flipped-2-6 {
      background: #c2f5ff url('../static/img/6-hearts.png') no-repeat center;
    }

    &_flipped-2-7 {
      background: #c2f5ff url('../static/img/7-hearts.png') no-repeat center;
    }

    &_flipped-2-8 {
      background: #c2f5ff url('../static/img/8-hearts.png') no-repeat center;
    }

    &_flipped-2-9 {
      background: #c2f5ff url('../static/img/9-hearts.png') no-repeat center;
    }

    &_flipped-2-10 {
      background: #c2f5ff url('../static/img/10-hearts.png') no-repeat center;
    }

    &_flipped-2-11 {
      background: #c2f5ff url('../static/img/jack-hearts.png') no-repeat center;
    }

    &_flipped-2-12 {
      background: #c2f5ff url('../static/img/queen-hearts.png') no-repeat center;
    }

    &_flipped-2-13 {
      background: #c2f5ff url('../static/img/king-hearts.png') no-repeat center;
    }

    &_flipped-2-14 {
      background: #c2f5ff url('../static/img/ace-hearts.png') no-repeat center;
    }

    &_flipped-3-6 {
      background: #c2f5ff url('../static/img/6-diamonds.png') no-repeat center;
    }

    &_flipped-3-7 {
      background: #c2f5ff url('../static/img/7-diamonds.png') no-repeat center;
    }

    &_flipped-3-8 {
      background: #c2f5ff url('../static/img/8-diamonds.png') no-repeat center;
    }

    &_flipped-3-9 {
      background: #c2f5ff url('../static/img/9-diamonds.png') no-repeat center;
    }

    &_flipped-3-10 {
      background: #c2f5ff url('../static/img/10-diamonds.png') no-repeat center;
    }

    &_flipped-3-11 {
      background: #c2f5ff url('../static/img/jack-diamonds.png') no-repeat center;
    }

    &_flipped-3-12 {
      background: #c2f5ff url('../static/img/queen-diamonds.png') no-repeat center;
    }

    &_flipped-3-13 {
      background: #c2f5ff url('../static/img/king-diamonds.png') no-repeat center;
    }

    &_flipped-3-14 {
      background: #c2f5ff url('../static/img/ace-diamonds.png') no-repeat center;
    }

    &_flipped-4-6 {
      background: #c2f5ff url('../static/img/6-clubs.png') no-repeat center;
    }

    &_flipped-4-7 {
      background: #c2f5ff url('../static/img/7-clubs.png') no-repeat center;
    }

    &_flipped-4-8 {
      background: #c2f5ff url('../static/img/8-clubs.png') no-repeat center;
    }

    &_flipped-4-9 {
      background: #c2f5ff url('../static/img/9-clubs.png') no-repeat center;
    }

    &_flipped-4-10 {
      background: #c2f5ff url('../static/img/10-clubs.png') no-repeat center;
    }

    &_flipped-4-11 {
      background: #c2f5ff url('../static/img/jack-clubs.png') no-repeat center;
    }

    &_flipped-4-12 {
      background: #c2f5ff url('../static/img/queen-clubs.png') no-repeat center;
    }

    &_flipped-4-13 {
      background: #c2f5ff url('../static/img/king-clubs.png') no-repeat center;
    }

    &_flipped-4-14 {
      background: #c2f5ff url('../static/img/ace-clubs.png') no-repeat center;
    }
  }
}

.finish-screen {
  position: absolute;
  top: calc(50% - 360px);
  left: calc(50% - 183px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    height: 460px;
    padding: 0 70px;
    background-color: $lightColor;
    border-radius: $borderRadius;
    box-shadow: 0 0 7px #fff;
  }

  &__logo {
    width: 96px;
    height: 96px;
    background: url('../static/img/win-logo.svg') no-repeat center;
  }

  &__sign {
    font-size: 40px;
    line-height: 48px;
    color: $darkColor;
  }

  &__time-sign {
    font-size: 24px;
    line-height: 32px;
  }

  &__time-timer {
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    font-weight: 600;
  }
}
